body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0 0;
}

#top {
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: 80px;
}

input {
    width: 80%;
    margin-left: 10%;
    background-color: white;
}

#input-holder {
    margin-top: -8px;
    width: 100%;
    height: auto;
    background-color: white;
}

.ui-input-search {
    border-radius: 0;
}

.song {
    border-bottom: 1px solid gray;
    padding-left: 15px;
}

.song h2 {
    font-weight: normal;
}

.songTitle {
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
}

.songSampleText {
    color: #707070;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.songCategory {
    color: #707070;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 20%;
    float: right;
}

.song-page {
    border-bottom: 0;
}

.song-page comment {
    color: cadetblue;
    font-style: italic;
}

.song-page header {
    font-weight: bold;
}

#songMelody {
    font-style: italic;
    color: #707070;
}

#songAuthor {
    color: #707070;
}

.song-page h2 {
    display: inline-block;
    width: 80%;
    margin-top: 0.5em;
    margin-bottom: 0;
}

#songPageCategory {
    width: 20%;
    float: right;
    margin-top: 1em;
    color: #707070;
}

#songInfo {
    margin-bottom: 2em;
}